@charset "ISO-8859-1";

/* form styling */
#wrapper {
  width: 60%;
  margin-left: 4%;
}

div#formcol1 {
  float: left;
  width: 100%;
}

div#formcol1 ul li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0.4em;
}

div#formcol1 label {
  display: inline-block;
  width: 7em;
  text-align: right;
  margin-right: 0.5em;
}

div#formcol1 input {
  display: inline-block;
  background-color: #F4F4F4;
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

/* div for radio buttons and check boxes */
#multchoice {
  clear: left;
  margin-left: 1%;
}

#multchoice span {
  display: inline-block;
  margin-right: 1.5em;
}

#multchoice input {
  vertical-align: middle;
}

.submit-button {
  margin: 2em 0;
  float: right;
  width: 70%;
}

/* enhancements */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

legend {
  font-weight: bold;
}

label {
	text-align: right;
  }

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
color: #FFF !important;
background-color: #BB3D2F !important;}

#formcol1 input.reqfield {
	background: #FF9; /* light yellow */
  }
  